<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Introduction to VueJS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <h1>Agregar nota</h1>
                    <label>Nombre</label>
                    <input type="text" class="form-control" v-model="name">
                    <label>Promedio</label>
                    <input type="number" max="10" min="0" class="form-control" v-model="note">
                    <input type="button" value="Guardar" class="btn btn-success" v-on:click="AddNote">
                </div>
                <div class="col-md-6 col-xs-12">
                    <h1 v-if="list.lenght > 0">Lista de promedios</h1>
                    <h1 v-else="list">No existen notas</h1>
                    <table class="table">
                        <tr>
                            <th>Nombre</th>
                            <th>Promedio</th>
                        </tr>
                        <tr v-for="item in list" v-bind:style="item.status==false?'color:red':'color:green'">
                            <td v-text="item.name"></td>
                            <td v-text="item.note"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p class="text-center">
                        www.training.com
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="js/vue.js"></script>
<script src="js/principal.js"></script>
</html>